body{
  background-color: #f8f9fa!important;
}
.background{
  padding-top:56px;
  height: 400px;
  background-image: url(https://www.commonapp.org/static/deedd4967fe81e3ab7c81825377f9207/amherst-college_19.png);
  background-size: cover;
}
.AmherstPic{
  max-width: 100%;
  height: auto;
  position: absolute;
}
.Introduction{
  text-align: center;
  line-height: 1.5;
  background-color: #f8f9fa!important;
  padding: 40px 20%;
  /* position: relative;
  top: 90%;
  z-index: 1; */
}
.profilePic{
  border-radius: 100%;
  margin: 0 auto;
  max-width: 100%;
  /* display: block;
  padding: 30%; */
}
.buttons{
  padding: 15px;
}
.btn{
  margin: 10px;
}

/***About Me***/
.bio{
  text-align: center;
  line-height: 1.5;
  background-color: #f8f9fa!important;
  padding: 40px 20%;
}
hr{
  border: none;
  border-top: dotted;
  border-width: 10px;
  width: 40%;
  background-color: white;
  margin: 0 auto 3rem auto;
}
.skills{
  text-align: center;
  /* margin: 40px auto; */
  padding: 40px 20%;
}
.skill{
  text-align: center;
  padding: 40px 20%;
}
.heading{
  font-style: italic;
  /* margin: 3rem auto 1rem; */
  text-align: center;
}
.skillHeading{
  padding: 15px 0 10px 0;
}
.codingGIF{
  max-width: 100%;
  /* float: left; */
  /* margin-right: 20px; */
  margin: 0 auto;
  border-radius: 30%;
}
.baseball{
  max-width: 100%;
  margin: 0 auto;
  border-radius: 30%;
  /* float: left; */
  /* margin-right: 20px; */
  /* vertical-align: middle; */
}
.baseballSkill{
  width: 50%;
  margin: 20px auto;
  text-align: left;
  padding: 50px 0;
}

.footer{
  text-align: center;
}
